<footer>
  <!-- Grid container -->
  <div>
    <!-- Section: Social media -->
    <section>
      <!-- logo -->
        <img src="/images/logo.png"></img>

     
    </section>
    <!-- Section: Social media -->
  </div>

  <!-- Copyright -->
</footer>