<footer>
  <!-- Grid container -->
  <div>
    <!-- Section: Social media -->
    <section>
      <!-- logo -->
        <img src="/images/mylocalmusiclogo.png" alt="Site Name" class="header-logo justify-content-center">

     
    </section>
    <!-- Section: Social media -->
  </div>

  <!-- Copyright -->
</footer>