<body>
        <header>
    <!--
    <header class="align-center p-2"> -->
        <!--
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">
              <!--need to add logo-->
        <!--
            <img src="/docs/4.6/assets/brand/bootstrap-solid.svg" width="50" height="50" alt="">
          </a>
          <h1>
            <a href="/">MyLocalMusic</a>
          </h1>
          -->
          <button>Logout</button>

          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <a href="/homepage">homepage</a> |
          <button class="no-button" id="logout">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}

        </nav>
    </header>


  <div class="flex-column justify-space-around">
    <!--side nav-->
    <div class="width: 30%">
        <div class="nav flex-column">
            <div class="nav-item">
                <!--<a class="nav-link" href="#">My Saved Artists</a>-->
                <button type="button" class="btn btn-primary btn-sm">My Saved Artists</button>
            </div>


            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Genres </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li class="dropdown-item" href="#">Indie</li>
                  <li class="dropdown-item" href="#">Pop</li>
                  <li class="dropdown-item" href="#">Rock</li>
                </ul>
            </div>
        </div>
    </div>

  </div>
</body>