
<!--Top Nav-->
<div id="top-nav">

    <ul class="nav justify-content-center">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">My Saved Artists</a></li>
    <!--dropdown-->
        <li class="dropdown">
        <a href="genres" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres</a>
        <ul class="dropdown-menu">
            <li><a href="/genres">Pop</a></li>
            <li><a href="/genres">Rock</a></li>
            <li><a href="/genres">Indie</a></li>
        </ul>
        </li>
        <li><a href="/login">Logout</a></li>
    </ul>
</div>