<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/artist.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/nav.css" type="text/css">


    <title>MyLocalMusic</title>
</head>

<body>

    <header>
          <a href="/"><img src="/images/mylocalmusiclogo.png" alt="Site Name" class="header-logo justify-content-center"></a>
    </header> 

    <div class="body-content">
        {{{body}}}
    </div>

</body>

<footer style="position: fixed; bottom: 0;">
  <!-- Grid container -->
  <div>
    <!-- Section: Social media -->
    <section>
      <!-- logo -->
        <img src="/images/mylocalmusiclogo.png" alt="Site Name" class="footer-logo justify-content-center">
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Copyright -->

</footer>



</html>