{{>navigation}}
<style>
    body{background:#181818;
  }
</style>
<div class="crossfade" style="bottom: 0">
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
</div>
<link rel="stylesheet" href="./css/homepage.css">


<!--homepage-->
<div class="box">
    <div class="about-app">
        <h2 >Discover Local Sound Here!</h2>
        <br/>
        <p>Streaming services today have made it easier than ever to listen to music from all around the world, but with unlimited
        access to artists, finding and supporting local bands has become more difficult. With Austin being the music capital of
        the world, MyLocalMusic strives to connect Austinites with local bands and allowing the user to save artists that they
        have seen live. </p>
    </div>
</div>