* {
    font-family: Verdana;
}

body {
    /*background-image: url("/images/indoor-venue.jpg");*/
    background-size: auto;
}

p.artist-desc {
    color: var(--primary);
}

.artist-container {
    margin: 50px 10% 20px 10%;
}

.text-left {
    padding-bottom: 25px;
}


