* {
    font-family: Verdana;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url("/images/indoor-venue.jpg");
    background-size: auto;
}

img {
    width: 50%;
    height: 100px;
    padding: 20x;
    
}

.photoblock {
    margin: 5px;
    justify-content: center;
  
    }

h2 {
    text-align: left;

}