* {
    font-family: Verdana;
    box-sizing: border-box;
    color: white;
}


img {
    width: 300px;
    height: 300px;
    padding: 20x;
    
}

.photoblock {
    margin: 5px;
    justify-content: center;
  
    }

h2 {
    text-align: left;

}